body{
    font-family: arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(red, green, blue, alpha);
    width: 450px;
}
 h2{
    text-align: center;
    margin-bottom: 25px;
    color: black;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}
input[type="text"],
input[type="email"]
input[type="tel"]
input[type="date"]
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: lem;
}
input.valid,
select.valid{
    border-color: red;
}
.error{
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}
.checkbox-group{
    display: flex;
    flex-wrap: wrap;
    gap: 15;
    margin-top: 10px;
}
.checkbox-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
button{
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 10px;
}
button:hover{
    background-color: green;
}
#success-message{
    color: green;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
    display: none;
}